{% load static %}

<!-- START: Footer -->
<footer class="dx-footer">
    <div class="dx-box-1">
        <div class="container">
            <div class="row vertical-gap lg-gap">

                <div class="col-sm-12 col-lg-12 text-center">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            <a href="index-2.html" class="dx-widget-logo">
                                <!-- <img src="{% static 'images/logo.svg' %}" alt="" width="88px"> -->
                                
                            </a>
                        </div>
                        <div class="dx-widget-text">
                            <p class="mb-0">&copy; {% now "Y" %}  <span
                                    class="dib">MedicAid</span> <span class="dib">All rights reserved.</span>
                            </p>
                        </div>
                        <div class="dx-widget-text">
                            <ul class="dx-social-links mnt-3">
                                <li><a href="https://www.facebook.com/"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="https://www.instagram.com/"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="https://twitter.com/?lang=en"><span class="fab fa-twitter-square"></span></a></li>
                                
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- <div class="col-sm-6 col-lg-3">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            Useful Links
                        </div>
                        <ul class="dx-widget-list">
                            <li><a href="store.html">Store</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="forums.html">Forums</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                        <ul class="dx-widget-list">
                            <li><a href="help-center.html">Help Center</a></li>
                            <li>
                                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#signup"
                                    href="javascript:;">Sign Up</a>
                            </li>
                            <li>
                                <a data-fancybox data-touch="false" data-close-existing="true" data-src="#login"
                                    href="javascript:;">Log In</a>
                            </li>
                        </ul>
                    </div>

                </div> -->
                <!-- <div class="col-sm-6 col-lg-3">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            Latest Products
                        </div>
                        <div class="dx-widget-portfolio">
                            <a href="product.html">Quantial – Moving Upon Signs Moveth Lesser</a>
                            <a href="product.html">Sensific – Saying Beast Lesser for in Fruitful</a>
                            <a href="product.html">Minist – Subdue Above for Signs Dry is Have Great</a>
                        </div>
                    </div>

                </div> -->
                <!-- <div class="col-sm-6 col-lg-3">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            Latest Posts
                        </div>
                        <a href="single-post.html" class="dx-widget-post">

                            <span class="dx-widget-post-text">
                                <span class="dx-widget-post-title">The Big Thing in Design</span>
                                <span class="dx-widget-post-date">25 Sep 2018</span>
                            </span>

                        </a>
                        <a href="single-post.html" class="dx-widget-post">

                            <span class="dx-widget-post-text">
                                <span class="dx-widget-post-title">Will Coding Ever Rule the World?</span>
                                <span class="dx-widget-post-date">24 Sep 2018</span>
                            </span>

                        </a>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->

</div>



<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Popper -->
<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Fancybox -->
<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- Cleave -->
<script src="{% static 'vendor/cleave.js/dist/cleave.min.js' %}"></script>

<!-- Validator -->
<script src="{% static 'vendor/validator/validator.min.js' %}"></script>

<!-- Sticky Kit -->
<script src="{% static 'vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax-video.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'vendor/swiper/dist/js/swiper.min.js' %}"></script>

<!-- Gist Embed -->
<script src="{% static 'vendor/gist-embed/gist-embed.min.js' %}"></script>

<!-- Bootstrap Select -->
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Quill -->
<script src="{% static 'vendor/quill/dist/quill.min.js' %}"></script>
<!-- END: Scripts -->



</body>

</html>